/* ABOUT US */
.simple-intro-container{
    display: block;
    width: 40rem;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4rem;
}

.simple-intro{
    text-align: center;
}


.member_info h1{
    text-align: center;
    font-family: "Work Sans", serif;
    font-size: 3rem;
    padding-top: 3rem;
}


.member_left_bigcontainer::after{
    display: table;
    clear: both;
    content: " ";
    width: 40%;
    font-family: "Work Sans", serif;
    font-size: 0.9rem;
}

.member_left_container, .member_right_container{
    float: left;
    width: 40%;
    padding: 0 2rem 3rem 4rem;
}

.member_left_container .image1 {
    display: block;
    float: left;
    width: 10rem;
    border-radius: 50px;
    margin: 0 3.1rem 0.9rem 1.6rem;
}

.member_right_container .image2 {
    display: block;
    float: left;
    width: 10rem;
    border-radius: 50px;
    margin: 0 3.1rem 0.9rem 1.6rem;
}

.social-member-container{
    display: block;
    float: left;
    clear: both;
}

.social-member{
    list-style: none;
    display: flex;
    font-size: 1.1rem;
}

.social-member li{
    padding-right: 1.25rem;
}

.social-member a{
    color: rgb(66, 66, 66);
}

.social-member a:hover{
    color:rgb(0, 0, 0)
}

.team-detail-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 7rem;
}

.team-detail-container > div{
    margin: 3rem;
    padding: 3rem;
    height: 21rem;
    background-color: #ffffffc4;
}

.detail-small-container h2{
    padding-bottom: 1rem;
}

.detail-small-container{
    text-align: center;
    font-family: "Work Sans", serif;
}

.detail-small-container p{
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .member_info{
        width: 100%;
        height: 52rem;
        background-color: transparent;
        margin-bottom: 120px;
    }
    .member_left_bigcontainer{
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-family: "Work Sans", serif;
        font-size: 0.9rem;
    }
    
    .member_left_container, .member_right_container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding-bottom: 4rem;
    }

    .team-detail-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 7rem;
    }
    
    .team-detail-container > div{
        margin: 3rem;
        padding: 3rem;
        height: 20rem;
        background-color: #ffffffc4;
    }
    
    .detail-small-container h2{
        padding-bottom: 1rem;
    }
    
    .detail-small-container{
        text-align: center;
        font-family: "Work Sans", serif;
    }
}

/* HEADER TESTING */
.simple-header-testing{
    display: block;
    width: 100%;
    height: 110px;
    margin: 0;
    padding: 0;
    background:transparent;
}

.simple-header-testing p{
    display: inline-block;
    padding: 5px 0px 0px 30px;
    font-size: 1.9rem;
    font-family: "Work Sans", sans-serif;
}

.aboutus-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 35px;
}

/* SIMPLE HEADER */
.simple-header-container{
    display: block;
    width: 100%;
    height: 110px;
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.219);
}

.black-logo .logo{
    float: left;
    width: 60px;
    margin-left: 40px;
    margin-top: 23px;
}

.home-link{
    float: right;
    padding-top: 45px;
    padding-right: 50px;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
}
    

.simple-header-container p{
    display: inline-block;
    padding: 16px 0px 0px 20px;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
}

.home-link a{
    color: #000000;
    text-decoration: underline;
}

.home-link a:hover{
    color:rgb(146, 146, 146)
}


/* FOOTER */
.footer{
    padding-top: 25px;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0; 
    display: block;
    box-sizing: border-box;
    clear: both ;
    background-color: #EDEDED;
}

.container{
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    top: 11%;
    bottom: 15%; 
    box-sizing: border-box;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: rgb(0,0,0);
    padding-top: 10px;
}

.content h3{
    font-size: 1.8em;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1em
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav li{
    display: inline-block;
    font-size: 15px;
    margin-right: 45px;
    padding: 8px;
}

.footer-nav a{
    color: #000000;
    text-decoration: none;
}

.footer-nav li a:hover{
    color:rgb(146, 146, 146)
}

.socials{
    list-style: none;
    display: flex;
    font-size: 1.1em;
    padding-top: 1em;
}

.socials li{
    padding-right: 35px;
    
}

.socials a{
    color: rgb(0,0,0);
}

.footer-bottom{
    text-align: center;
    bottom: 25px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.footer-bottom span{
    text-transform: uppercase;
}

footer img{ 
    width:90px;
}

/* SIMPLE FOOTER */
.simple-footer{
    padding-top: 25px;
    width: 100%;
    height: 40%;
    left: 0;
    right: 0; 
    display: block;
    box-sizing: border-box;
    clear: both ;
    background-color: #EDEDED;
}

/* LOGIN */
/* FORGOT PASSWORD */
.login-container, .forgot-pass-container{
    display: block;
    clear: both;
    max-width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
    font-family: "Work Sans", sans-serif;
}


.header-login{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.enter-email{
    text-align: center;
    font-size: 1rem;
}


.login-container form, .forgot-pass-container form{
    display: block;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.login-container form .data .form-control, .forgot-pass-container form .data .form-control{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid lightgray;  
    border-radius: 4px;
    margin: 25px 0 10px 0;
    padding: 0 10px;
}

.login-container form .data label{
    font-size: 17px;
}

.forgot-pass-login{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.forgot-pass-login a{
    color: black;
}

.forgot-pass-login a:hover{
    color: rgb(138, 138, 138);
}

.login-container form .btn, .forgot-pass-container form .btn{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: white;
    background: black;
    text-transform: uppercase;
    border-radius: 4px;
}

.login-container form .btn:hover, .forgot-pass-container form .btn:hover{
    opacity: 0.7;
}

.login-container hr{
    max-width:30%;
}

.login-container .no-account{
    padding-top: 10px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

.login-container .no-account a{
    text-decoration: ;
    color: rgb(0, 0, 0);
}

.login-container .no-account a:hover{
    color: rgb(139, 139, 139);
}






