*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1{
    padding: 15px 15px;
}

nav {
    float: left;
    padding-right: 30px;
}

nav .drop-btn{
    width: 200px;
    /* background: #bebebe; */
    color: rgb(51, 51, 51);
    line-height: 50px;
    font-family: "Work Sans", serif;
    font-size: 22px;
    font-weight: 500;
}

nav .drop-btn span{
    padding-left: 18px;
    padding-right: 10px;
    line-height: 50px;
    font-size: 22px;
    cursor: pointer;
}

nav input{
    display: none;
}

[id^=btnMenu]:checked + ul{
    display: block;
}

nav .menu-bar{
    list-style: none;
    width: 200px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    display: none;
}

nav .menu-bar li{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.menu-bar li:hover{
    background: rgba(237, 77, 83, .06);
    border-left: 3px solid #ff6c60;
    color: #ff6c60;
    border-radius: 0 40px 40px 0;
}

nav .menu-bar li a{
    text-decoration: none;
    color: #666666;
    font-size: 18px; 
}

.menu-bar li a.active{
    font-weight: bold;
}

.edit_content_container iframe{
    border: none;
    width: calc(100% - 230px);
    height: calc(100% - 150px);
}

.logout_logo{
    position: absolute;
    top: 22px;
    font-size: 25px;
    color: black;
}
.title_logo{
    width: 200px;
}

.title_logo::after{
    content: "";
    clear: both;
    display: table;
}

.title_logo h1{
    float: left;
}