.aboutus-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: 30%;
    padding-bottom: 35px;
}

#logoutBtn{
    position: absolute;
    display: none;
    right: 19px;
    bottom: 42.5px;
    font-size: 25px;  
}

#cicrle_logoutbtn{
    position: absolute;
    visibility: hidden;
    right: 8.5px;
    bottom: 32.5px;
    height: 45px;
    width: 45px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
}


/* SIMPLE HEADER */
.simple-header-container{
    display: block;
    width: 100%;
    height: 110px;
    background-color: #EDEDED;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.219);
    font-family: "Work Sans", sans-serif;
}

.black-logo .logo{
    float: left;
    width: 4rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

.home-link{
    float: right;
    padding-top: 2.8rem;
    padding-right: 3rem;
    font-size: 15px;
}

.simple-header-container p{
    display: inline-block;
    padding: 16px 0px 0px 20px;
    font-size: 1.5rem;
}

.home-link a{
    color: #000000;
    text-decoration: underline;
}

.home-link a:hover{
    color:rgb(146, 146, 146)
}


/* FOOTER */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: rgb(0,0,0);
    padding-top: 10px;
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav li{
    display: inline-block;
    font-size: 15px;
    margin-right: 45px;
    padding: 8px;
}

.footer-nav a{
    color: #000000;
    text-decoration: none;
}

.footer-nav li a:hover{
    color:rgb(146, 146, 146)
}

.socials{
    list-style: none;
    display: flex;
    font-size: 1.1rem;
    padding: 2.2rem 0;
}

.socials li{
    padding-right: 35px;
    
}

.socials a{
    color: rgb(0,0,0);
}

.footer-bottom{
    text-align: center;
    bottom: 25px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.footer-bottom span{
    text-transform: uppercase;
}

/* SIMPLE FOOTER */
.simple-footer{
    padding-top: 25px;
    width: 100%;
    height: 23rem;
    left: 0;
    right: 0; 
    bottom: 0;
    display: block;
    box-sizing: border-box;
    clear: both ;
    background-color: #EDEDED;
}

/* LOGIN */
/* FORGOT PASSWORD */
.login-container, .forgot-pass-container{
    display: block;
    clear: both;
    max-width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 8rem 0;
    background-color: transparent;
    font-family: "Work Sans", sans-serif;
}

#message #emailMSG #phoneMSG {
    display:none;
    background: #f6f6f6;
    color: #000;
}

#message p{
    padding: 5px 40px;
    font-size: 14px;
}

#emailMSG, #phoneMSG {
    position: absolute;
    top: 56px;
    left: 10px;
    font-size: 15px;
}

/* Add a green text color when the requirements are right */
.valid {
    color: green;
}

/* Add a red text color when the requirements are wrong */
.invalid {
    color: red;
}
  

@media screen and (min-height: 1100px) {
    .login-container{
        display: block;
        clear: both;
        max-width: 90%;
        height: 50%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 8rem;
        padding-bottom: 8rem;
        background-color: transparent;
    }
}
.header-login{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.enter-email{
    text-align: center;
    font-size: 1rem;
}

.login-container form, .forgot-pass-container form{
    display: block;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.login-container form .data .form-control, .forgot-pass-container form .data .form-control, .register-acc-container .column .data .form-control{
    height: 2.7rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid lightgray;  
    border-radius: 4px;
    margin: 1.2rem 0 0.6rem 0;
    padding: 0 0.6rem;
}

.register-acc-container .column .data .form-control2{
    height: 6.5rem;
    width: 90%;
    font-size: 1rem;
    border: 1px solid lightgray;  
    border-radius: 4px;
    margin: 1.2rem 0 0.6rem 0;
    padding: 0.3rem 0.6rem;
}

.register-acc-container .column .data .option{
    padding-bottom: 5px;
}

/* The eye */
.register-acc-container .column .data{
 position: relative;
}

.register-acc-container .data span{
    position: absolute;
    right: 10px;
    transform: translate(0, -50%);
    top: 45%;
    cursor: pointer;
}

.register-acc-container .data span i{
    font-size: 18px;
    color: #696772;
}

.login-container form .data label{
    font-size: 1rem;
}

/* Forgot Password */
.forgot-pass-login{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.forgot-pass-login a{
    color: black;
}

.forgot-pass-login a:hover{
    color: rgb(138, 138, 138);
}

.login-container form .btn, .forgot-pass-container form .btn{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: black;
    text-transform: uppercase;
    border-radius: 4px;
}

.login-container form .btn:hover, .forgot-pass-container form .btn:hover{
    opacity: 0.7;
}

.login-container hr{
    max-width:30%;
}

.login-container .no-account{
    padding-top: 10px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

.login-container .no-account a{
    text-decoration: underline;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.login-container .no-account a:hover{
    color: rgb(139, 139, 139);
}


/* REGISTER ACCOUNT */
.register-acc-container{
    width: 100%;
    font-family: "Work Sans", sans-serif;
}
.register-acc-container .column{
    float: left;
    width: 50%;
    padding: 40px;
}

.register-acc-container::after{
    content: "";
    display: table;
    clear: both;
}

#storeowner, #shopper{
    margin-left: 50px;
}

#ifOwner h3, .account-type-heading{
    padding-top: 20px;
}

.submit-reset-container{
    display: flex;
    padding-bottom: 3rem;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.submit-reset-big{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 20rem;
}

.submit-reset{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.submit-reset .btn{
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: black;
    text-transform: uppercase;
    border-radius: 6px;
}

.submit-reset .reset{
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background: #EDEDED;
    text-transform: uppercase;
    border-radius: 6px;
}

@media screen and (max-width: 530px) {
    .login-container, .forgot-pass-container{
        display: block;
        clear: both;
        max-width: 90%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        padding: 5rem 0;
        background-color: transparent;
        font-family: "Work Sans", sans-serif;
    }

    .register-acc-container .column{
        width: 90%;
    }
    
    .home-link{
        display: none;
    }
        
    .black-logo .logo{
        width: 3.5rem;
        float: left;
        margin-left: 25px;
        margin-top: 28px;
    }

    .simple-header-container p{
        display: inline-block;
        padding: 25px 0px 0px 10px;
        font-size: 1.2rem;
    }

    .submit-reset .btn{
        width: 70px;
        height: 23px;
        border: none;
        cursor: pointer;
        font-size: 11px;
        color: white;
        background: black;
        text-transform: uppercase;
        border-radius: 6px;
    }
    
    .submit-reset .reset{
        width: 70px;
        height: 23px;
        border: none;
        cursor: pointer;
        font-size: 11px;
        color: rgb(0, 0, 0);
        background: #EDEDED;
        text-transform: uppercase;
        border-radius: 6px;
    }
}
@media screen and (max-width: 330px) {
    .simple-footer{
        padding-top: 25px;
        width: 100%;
        height: 27rem;
        left: 0;
        right: 0; 
        bottom: 0;
        display: block;
        box-sizing: border-box;
        clear: both ;
        background-color: #EDEDED;
    }
}