/* MY ACCOUNT */
.prof-pic-name img{
    width:150px; 
    height: 150px;
    border-radius: 50%
}

.acc-whole-content{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgba(220, 20, 60, 0);
    padding-top: 8rem;
    font-family: "Work Sans", sans-serif;
}

.acc-whole-content::after{
    content: "";
    display: table;
    clear: both;
}

.acc-whole-content .acc-column{
    float: left;
    margin-top: 3rem;
    height: auto;
    padding-bottom: 35px;
}

.prof-pic-name{
    text-align: center;
    background-color: rgba(153, 148, 84, 0);
}

.acc-nav-container{
    padding-top: 15%;
}

.prof-pic-nav{
    padding-right: 6vw;
    margin-left: 5vw;
}

.tab-container-wrap{
    width: 65vw;
    background-color: rgba(100, 148, 237, 0);
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

.tab-container-wrap h2{
    text-align: center;
    font-size: 2rem;
}

.tab-container-wrap form .form-control{
    height: 2.5rem;
    width: 85%;
    font-size: 1rem;
    border: 1px solid lightgray;  
    border-radius: 4px;
}

.AccountEmail{
    position: absolute;
    top: 9px;
}

.tab-container-wrap form{
    padding-top: 1.5rem;
}

.col-label{
    float: left;
    width: 25%;
    margin-top: 17px;
    padding-left: 8%;
}

.col-input{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 6px;
    padding-left: 8%;
}

.form-row::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 880px) {
    .col-label, .col-input{
      width: 100%;
      margin-top: 0;
    }

    .acc-column{
        width: 100%;
        margin-left: auto;
        margin-top: auto;
    } 

    .acc-nav-container{
        padding-top: 0px;
        text-align: center;
    }
    
    .prof-pic-nav{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .tab-container-wrap h2{
        text-align: left;
        font-size: 1.5rem;
    }

    .tab-container-wrap{
        width: 65%;
        background-color: rgba(100, 148, 237, 0);
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

#up-arrow{
    border: none;
    outline: none;
}

#up-arrow i{
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

/* ABOUT US */
.simple-intro-container{
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4rem;
}

.simple-intro{
    text-align: center;
    font-family: "Work Sans", serif;
}

.member_info h1{
    text-align: center;
    font-family: "Work Sans", serif;
    font-size: 3rem;
    padding-top: 3rem;
}

.member_left_bigcontainer::after{
    display: table;
    clear: both;
    content: " ";
    width: 40%;
    font-size: 0.9rem;
}

.member_left_container, .member_right_container{
    float: left;
    width: 50%;
    padding: 0 2rem 3rem 3.2rem;
}

.member_left_container .image1 {
    display: block;
    float: left;
    width: 10rem;
    border-radius: 50px;
    margin: 0 3.1rem 0.9rem 1.6rem;
}

.member_right_container .image2 {
    display: block;
    float: left;
    width: 10rem;
    border-radius: 50px;
    margin: 0 3.1rem 0.9rem 1.6rem;
}

.social-member-container{
    display: block;
    float: left;
    clear: both;
    padding-left: 60px;
    padding-top: 15px;
}

.social-member{
    list-style: none;
    display: flex;
    font-size: 1.1rem;
}

.social-member li{
    padding-right: 1.25rem;
}

.social-member a{
    color: rgb(66, 66, 66);
}

.social-member a:hover{
    color:rgb(0, 0, 0)
}

.team-detail-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 7rem;
}

.team-detail-container > div{
    margin: 3rem;
    padding: 3rem;
    height: 21rem;
    background-color: #ffffffc4;
}

.detail-small-container h2{
    padding-bottom: 1rem;
}

.detail-small-container{
    text-align: center;
    font-family: "Work Sans", serif;
}

.detail-small-container p{
    font-size: 14px;
    line-height: 25px;
}
.acc-whole-content {
    padding-top: 8rem;
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 50; 
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    border: 1px solid #888;
    border-radius: 20px;
    width: 60%;
    height: 400px;
}

.close1, .close2, .close3{
    color: rgb(255, 164, 180);
    float: right;
    padding-top: 7px;
    padding-right: 15px;
    font-size: 30px;
    font-weight: bold;
}
  
.close1:hover, .close1:focus, .close2:hover, .close2:focus, .close3:hover, .close3:focus{
    color:burlywood;
    cursor: pointer;
    text-decoration: none;
}

.modal-image{
    display: block;
    width: 10rem;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0;
}

.modal-info{
    padding: 17px 35px;
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    .team-detail-container > div{
        margin: 3rem;
        padding: 3rem;
        height: 27rem;
        background-color: #ffffffc4;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 300px auto;
        border: 1px solid #888;
        border-radius: 20px;
        width: 60%;
        height: 490px;
    }
}

@media screen and (max-width: 1000px) {
    .member_info{
        width: 100%;
        height: 52rem;
        background-color: transparent;
        margin-bottom: 120px;
    }
    .member_left_bigcontainer{
        display: block;
        width: 80%;
        margin-left: 3px;
        margin-right: 0;
        font-family: "Work Sans", serif;
        font-size: 0.9rem;
    }
    
    .member_left_container, .member_right_container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding-bottom: 4rem;
    }

    .team-detail-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 7rem;
    }
    
    .detail-small-container h2{
        padding-bottom: 1rem;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 180px auto;
        border: 1px solid #888;
        border-radius: 20px;
        width: 60%;
        height: 550px;
    }

    .modal-info{
        font-size: 13px;
        padding: 17px 35px;
    }
}

@media screen and (max-width: 450px){
    .detail-small-container p{
        text-align: center;
        font-family: "Work Sans", serif;
        line-height: 15px; 
        font-size: 12px;
    }

    .modal-image{
        display: block;
        width: 7.5rem;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 150px auto;
        border: 1px solid #888;
        border-radius: 20px;
        width: 60%;
        height: 560px;
    }

    .modal-content h4{
        font-size: 13px;
    }

    .modal-info{
        font-size: 12px;
        padding: 15px 30px;
        line-height: 15px;
    }
}

@media screen and (max-width: 350px){
    .member_left_bigcontainer{
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-right: 0;
        font-size: 0.9rem;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 170px auto;
        border: 1px solid #888;
        border-radius: 20px;
        width: 60%;
        height: 50%;
    }
    
    .member_left_container, .member_right_container{
        display: block;
        margin-left: 3px;
        margin-right: 5px;
        padding: 0 0 65px 0;
    }

    .team-detail-container > div{
        margin: 3rem;
        padding: 3rem;
        height: 25rem;
    }

    .modal-image{
        display: block;
        width: 7rem;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 120px auto;
        border: 1px solid #888;
        border-radius: 20px;
        width: 60%;
        height: 550px;
    }

    .modal-info{
        font-size: 12px;
        padding: 5px 15px;
        line-height: 15px;
    }
}

