@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Cedarville+Cursive&family=Herr+Von+Muellerhoff&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Monoton&family=Staatliches&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Rye&display=swap');
.title{
    text-align: center;
    margin: auto;
    width: 50%;
}
.logo{
    width: 100px;
    display: block; 
    margin: 0 auto;
}
.product_display{
    overflow: hidden;
    display: block;
    margin-block-end: 1em;
    margin-block-start: 1em;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: white;
    position: center;
    font-family: 'Work Sans', sans-serif;
    padding:1%;
}
.pic_product_display{
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    float:left;

}
.pic{
    max-width: 100%;
    height: auto;
}
.title2{
text-align: center;
margin: auto;
width: 50%;
}
.title1{
    font-family: 'Rye', cursive;
    font-size: 30;
}
.introimg{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.intro1{
    text-align: center;
    background-color: rgb(243, 197, 204);
    margin-top: 2%;
    margin: 5%;
    padding: 5%;

}
.intro2{
    text-align: center;
    background-color: rgb(252, 170, 77);
    margin-top: 2%;
    margin: 5%;
    padding: 5%;
}
.intro3{
    text-align: center;
    background-color: rgb(223, 159, 116);
    margin-top: 2%;
    margin: 5%;
    padding: 5%;
}
.intro4{
    text-align: center;
    background-color: rgb(70, 95, 163);
    margin-top: 2%;
    margin: 5%;
    padding: 5%;
}
.intro5{
    text-align: center;
    background-color: rgb(127, 206, 189);
    margin-top: 2%;
    margin: 5%;
    padding: 5%;
}
.note{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 40;
    letter-spacing: 10px;
}
.descriptionspring{
    padding: 10%;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25;
    background-color:rgb(225, 163, 233);
}
.descriptionsummer{
    padding: 10%;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25;
    background-color:rgb(243, 188, 137);
}
.descriptionautumn{
    padding: 10%;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25;
    background-color:rgb(138, 104, 72);
}
.descriptionwinter{
    padding: 10%;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25;
    background-color:rgb(174, 171, 224);
}
.descriptioncasual{
    padding: 10%;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25;
    background-color:rgb(64, 150, 155);
}
.titlespring, .titlesummer,.titleautumn, .titlewinter, .titlecasual{
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 40;
    max-width: 100%;
}
.titlespring{color:rgb(238, 164, 175);}
.titlesummer{color:rgb(219, 149, 69);}
.titleautumn{color:rgb(122, 91, 45);}
.titlewinter{color:rgb(137, 162, 243);}
.titlecasual{color:rgb(147, 238, 215);}

.pro{
    text-decoration: none;
}
.pro:link{
    color:black;
}
.pro:visited{
    color:black;
}
.pro:hover{
    color:rgb(133, 48, 48);
    background: rgb(167, 66, 35);
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
}
.price{
    font-size: 13;
    color:grey;
    position: relative;
    bottom:18px;
}
.footer{
    padding-top: 25px;
    width: 100%;
    height: 370px;
    left: 0;
    right: 0; 
    display: block;
    box-sizing: border-box;
    clear: both ;
    background-color: #EDEDED;
}

.container{
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: auto;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    top: 11%;
    bottom: 15%; 
    box-sizing: border-box;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: rgb(0,0,0);
    padding-top: 10px;
}

.content h3{
    font-size: 1.8em;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1em
}

.footer-nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav li{
    display: inline-block;
    font-size: 15px;
    margin-right: 45px;
    padding: 8px;
}

.footer-nav a{
    color: #000000;
    text-decoration: none;
}

.footer-nav li a:hover{
    color:rgb(146, 146, 146)
}

.socials{
    list-style: none;
    display: flex;
    font-size: 1.1em;
    padding-top: 1em;
}

.socials li{
    padding-right: 10px;
    margin-right: 15px;
}

.socials a{
    color: rgb(0,0,0);
}

.footer-bottom{
    text-align: center;
    bottom: 25px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.footer-bottom span{
    text-transform: uppercase;
}

footer img{ 
    width:90px;
}

/* SIMPLE FOOTER */
.simple-footer{
    padding-top: 25px;
    width: 100%;
    height: 250px;
    left: 0;
    right: 0; 
    display: block;
    box-sizing: border-box;
    clear: both ;
    background-color: #EDEDED;
}

/* LOGIN */
.login-container{
    display: block;
    clear: both;
    max-width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: transparent;
}

.view-header{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

.login-container form{
    display: block;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.login-container form .data .form-control{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid lightgray;  
    border-radius: 4px;
    margin: 25px 0 10px 0;
    padding: 0 10px;
}

.login-container form .data label{
    font-size: 17px;
}

.forgot-pass{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.forgot-pass a{
    color: black;
}

.forgot-pass a:hover{
    color: rgb(138, 138, 138);
}

.login-container form .btn{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: white;
    background: black;
    text-transform: uppercase;
    border-radius: 4px;
}

.login-container form .btn:hover{
    opacity: 0.7;
}

.login-container hr{
    max-width:30%;
}

.login-container .no-account{
    padding-top: 10px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

.login-container .no-account a{
    text-decoration: none ;
    color: rgb(0, 0, 0);
}

.login-container .no-account a:hover{
    color: rgb(139, 139, 139);
}
