@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
.title{
    text-align: center;
    margin: auto;
    width: 50%;
}
.coverpage1{
    overflow: hidden;
    display: block;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: white;
    /* position: center; */
}
.spring,.summer,.autumn, .winter,.casual{
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    float:left;

}
.introvideo{
    max-width: 80%;
    display: block; 
    margin: 0 auto;  
}
.heading{
    padding: 20px;
    text-align: center;
    margin: auto;
    max-width: 100%;
    font-family: 'Staatliches', cursive;
    color: rgb(175, 9, 36);
    font-size:60px;
}
@media screen and (max-width: 450px){
    .heading{
        padding: 20px;
        text-align: center;
        margin: auto;
        max-width: 100%;
        font-family: 'Staatliches', cursive;
        color: rgb(175, 9, 36);
        font-size:40px;
    }
    .season{
        font-size: 10px;
    }
}
.product_display{
    overflow: hidden;
    display: block;
    width: 100%;
    margin: 0;
    background-color: white;
    position: center;
}
.pic{
    max-width: 100%;
    height: auto;
}
.pic_product_display{
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    float:left;

}
.product_display{
    font-family: 'Work Sans', sans-serif;
    
}
.pro{
    text-decoration: none;
}
.logouniqlo{
    padding-top: 110px;
    margin: right;
    width: 100px;
    display: block; 
    margin: 0 auto;
}
.pro:link{
    color:black;
}
.pro:visited{
    color:black;
}
.pro:hover{
    color:rgb(133, 48, 48);
    background: rgb(167, 66, 35);
    -moz-box-shadow: 0 10px 30px rgb(102, 81, 81);
    -webkit-box-shadow: 0 10px 30px rgb(121, 99, 99);
    box-shadow: 0 10px 30px rgb(117, 88, 88);
}
.price{
    font-size: 13;
    color:grey;
    bottom:18px;
}

