
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
   display: flex;  
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: rgb(119, 74, 16);
    color:white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
}
.detailproduct{
    margin-top: 80px;
}
.detailproduct .col-2 img{ 
    padding: 0;
}
.detailproduct .col-2{ 
    padding: 0;
}

.detailproduct h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.detailproduct select{
    display:block;
    padding: 10px;
    margin-top: 20px;
}
.detailproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid #744b2b;

}
input:focus{
    outline: none;
    
}
.detailproduct .fa{
    color: #744b2b;
}
.logo{
    width: 100px;
    display: block; 
    margin: 0 auto;
}
.product_display{
    overflow: hidden;
    display: block;
    margin-block-end: 1em;
    margin-block-start: 1em;
    width: 100%;
    margin: 0;
    background-color: white;
    position: center;
    padding:1%;
}
.pic_product_display{
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    float:left;
}
.pic{
    max-width: 100%;
    height: auto;
}
.pro{
    text-decoration: none;
}
.pro:link{
    color:black;
}
.pro:visited{
    color:black;
}
.pro:hover{
    color:rgb(133, 48, 48);
    background: rgb(167, 66, 35);
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
}
.price{
    font-size: 13;
    color:grey;
    position: relative;
    bottom:18px;
}